doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title keen-dolphin's Simple Bookstore
    link(rel='stylesheet', href='./styles/meyers-reset.css')
    link(rel='stylesheet', href='./styles/main.css')
  block content
