.header {
  padding: 40px;
}
h1 {
  font-size: 3em;
  color: red;
  text-align: center;
}
#logo {
  font-size: 1em;
  color: red;
  text-align: center;
}
hr {
  width: 80%;
  opacity: .3;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.book {
  border: 1px solid rgba(0,0,0, .1);
  box-shadow: 10px 9px 15px -5px rgba(212,212,212,1);
  padding: 10px;
  margin: 10px;
}
#book-cover {
  float: left;
  box-shadow: inset 10px 9px 12px -3px rgba(212,212,212,1);
  /*box-shadow: 2px 6px 26px 6px;*/
}
.book-info{
  float: left;
  padding: 10px;
}
#book-title {
  font-size: 2em;
  font-weight: bold;
}
#book-author {
  font-size: 1.5em;

}
#book-genre {
  font-size: 1em;

}
.buttons {
  font-size: 1.5em;

}
